header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--pad-1);
    z-index: 1000;
    will-change: transform;
}

nav {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navbar.css */
/* .navbar {
    position: fixed;
    height: 90px;
    width: 100%;
    padding: var(--pad-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    z-index: 1000;
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    pointer-events: auto;
}


.overlay-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.menu-item a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.logo {
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
    color: var(--text);
    text-transform: uppercase;
}

.toggle-btn {
    display: flex;
    justify-content: flex-end;
}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px var(--pad-1);
    background: transparent;
    outline: none;
    border: none;
    width: 28px;
    height: 28px;
    transition: all 250ms ease-out;
    cursor: pointer;
}

.burger:before,
.burger:after {
    content: "";
    width: 40px;
    height: 2px;
    background: var(--text);
    position: absolute;
    transition: all 250ms ease-out;
    will-change: transform;
}

.burger:before {
    transform: translateY(-3px);
}

.burger:after {
    transform: translateY(3px);
}

.active.burger::after {
    transform: translateY(0) rotate(-45deg);
}

/* === Audio === */
.audio-toggle {
    display: flex;
    gap: 2px;
    cursor: pointer;
    padding: 3px;
    align-items: flex-end;
    height: 28px;
}

.audio-toggle:hover .bar {
    background-color: var(--secondary);
}

.bar {
    width: 3px;
    height: 6px;
    background-color: var(--text);
    border-radius: 2px;
    transition: height 0.3s ease;
}

.bar.animate {
    animation: equalizer 1s infinite ease-in-out;
}

.bar:nth-child(1).animate {
    animation-delay: 0s;
}

.bar:nth-child(2).animate {
    animation-delay: 0.1s;
}

.bar:nth-child(3).animate {
    animation-delay: 0.2s;
}

.bar:nth-child(4).animate {
    animation-delay: 0.3s;
}

.bar:nth-child(5).animate {
    animation-delay: 0.4s;
}

@keyframes equalizer {
    0% {
        height: 6px;
    }

    25% {
        height: 12px;
    }

    50% {
        height: 9px;
    }

    75% {
        height: 15px;
    }

    100% {
        height: 3px;
    }
}