.projects {
    height: 600vh;
    padding: 0;
    background-color: transparent;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    background: transparent;
    z-index: 2;
}

.scroll_section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 600vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    will-change: transform;
    transition: transform 0.3s ease-out;
}

.left,
.right {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: var(--pad-3);
    background-color: var(--gray-100);
}

.split {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: var(--gap-2);
    max-width: var(--max-width);
}

.left {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
}

.left .split {
    justify-content: flex-end;
}

.right {
    align-items: flex-start;
    justify-content: flex-start;
}

.right .split {
    justify-content: center;
}

.project {
    position: relative;
    overflow: hidden;
    box-shadow: -1px 1px 44px 0px rgba(15, 15, 15, 0.55);
    -webkit-box-shadow: -1px 1px 44px 0px rgba(15, 15, 15, 0.55);
    -moz-box-shadow: -1px 1px 44px 0px rgba(15, 15, 15, 0.55);
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
    width: auto;
    height: 55vh;
    aspect-ratio: 9 / 16;
}

.project img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: saturate(1%);
    transition: filter 0.4s ease;
}

.project:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--gray-800),
        0 0 20px var(--gray-900);
}

.project:hover img {
    filter: saturate(100%);
}

.project:hover .projectTitle,
.project:hover .links {
    opacity: 1;
}

.projectTitle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--gray-100);
    text-transform: lowercase;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.links {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.75rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.links a {
    text-decoration: none;
    transition: all .4s ease;
    color: var(--gray-200);
}

.links a:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: var(--gray-100);
}

@media (min-width:900px) {
    .project {
        height: 65vh;
    }

    .left,
    .right {
        width: 50vw;
        height: 100vh;
    }

    .split {
        gap: var(--gap-3);
    }
}

@media (min-width: 1280px) {
    .project {
        height: 75vh;
    }
}