@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --color-1: #f5f5f5;
    --color-2: #7f7f7f;
    --color-3: #0a0a0a;
    --color-a: #ff5a1f;
    --font-1: "Questrial", serif;
    --h1-size: 4.5vh;
    --h2-size: 4vh;
    --h3-size: 3.5vh;
    --h4-size: 3vh;
    --h5-size: 2.5vh;
    --h6-size: 2vh;
    --p-size: 1.5vh;
    --a-size: 1vh;
    --gradient-vd: linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 100%);
    --gradient-cd: linear-gradient(120deg,
            rgba(17, 17, 17, 0.1),
            rgba(28, 28, 28, 0.1));
    --box-shadow-1: 0 2px 10px rgba(0, 0, 0, 0.1);
    --box-shadow-2: rgba(220, 220, 220, 0.2);
    --box-shadow-3: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-mode {
    --color-1: #0a0a0a;
    --color-2: #7f7f7f;
    --color-3: #f5f5f5;
    --gradient-vd: linear-gradient(0deg, rgba(10, 10, 10, 1) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 100%);
    --gradient-cd: linear-gradient(120deg,
            rgba(128, 128, 128, 0.1),
            rgba(179, 179, 179, 0.1));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-1);
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    color: var(--color-3);
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    background: transparent;
    width: 1vw;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-2);
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--color-a);
}

h1 {
    font-size: var(--h1-size);
    font-weight: 400;
    letter-spacing: 2vw;
}

h2 {
    font-size: var(--h2-size);
    font-weight: 300;
    letter-spacing: 1.75vw;
}

h3 {
    font-size: var(--h3-size);
    font-weight: 200;
    letter-spacing: 1.5vw;
}

h4 {
    font-size: var(--h4-size);
    font-weight: 100;
    letter-spacing: 1vw;
}

h5 {
    font-size: var(--h5-size);
    font-weight: 100;
}

h6 {
    font-size: var(--h6-size);
    font-weight: 100
}

p {
    font-size: var(--p-size);
    font-weight: 100;
}

a {
    font-size: var(--a-size);
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: var(--color-a);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    border: none;
    height: 3px;
    background-color: var(--color-3);
    box-shadow: var(--box-shadow-2);
    width: 100%;
    max-width: 1366px;
}

button {
    padding: 1vh 4vw;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
    text-align: center;
    font-family: var(--font-1);
    font-size: var(--p-size);
    letter-spacing: normal;
}

.line-button {
    border: 3px solid var(--color-3);
    background-color: transparent;
    color: var(--color-3);
}

.line-button:hover {
    border: 3px solid var(--color-a);
    background-color: transparent;
    color: var(--color-a);
}

.fill-button {
    border: 3px solid var(--color-3);
    background-color: var(--color-3);
    color: var(--color-1);
}

.fill-button:hover {
    border: 3px solid var(--color-a);
    background-color: var(--color-a);
    color: var(--color-1);
}

/* Icons config*/
.socials {
    display: flex;
    height: 4vh;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.socials a {
    font-size: var(--h5-size);
    color: inherit;
    transition: color .4s ease;
}

.socials a:hover {
    color: var(--color-a);
    transform: scale(1.1);
}

/* Preloader */
.preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-3);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    transition: opacity 1s ease, transform 1s ease;
    overflow: hidden;
    z-index: 9999;
    opacity: 1;
}

.preloader-exit {
    opacity: 0;
    transform: translateY(-100%);
}

.loader {
    border: 5px solid var(--color-1);
    border-top: 5px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Background*/
#waveCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Header Config */
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 5vh;
    padding: 1vh 2vw;
    font-size: 2.5vh;
    color: var(--color-3);
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s, color 0.3s;
    z-index: 999;
}

.logo {
    font-size: 3vh;
}

.head-r {
    height: 100%;
    width: fit-content;
}

.head-r a {
    font-size: 2.5vh;
}

header a:hover {
    transform: scale(1.1);
}

.scroll-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: transparent;
    transition: width 0.1s ease-in-out;
    background-image: linear-gradient(to right, var(--color-1), var(--color-a));
}

/* Menu */
menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 2vh;
    background: var(--color-1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--color-3);
    z-index: 1000;
    opacity: 0;
    transition: left 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
}

.menu.open {
    left: 0;
    display: flex;
    opacity: 1;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5vh;
    width: 100%;
}

.top-nav a {
    font-size: 5vh;
}

menu a:hover {
    color: var(--color-a);
}

nav {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
    gap: 1vh;
}

nav a {
    color: inherit;
    font-size: var(--h1-size);
    text-align: right;
    letter-spacing: 2vw;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    box-shadow: var(--box-shadow-2);
}

.bot-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

menu.socials {
    width: fit-content;
    transition: color 0.3s ease;
}

.bot-nav .socials a {
    color: var(--color-3);
}

.menu.open .nav a,
.menu.open .socials a {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu.close .nav a,
.menu.close .socials a {
    transform: translateX(-100%);
    opacity: 0;
}

.menu.close {
    left: -100%;
    opacity: 0;
    transition: left 0.5s ease, opacity 0.5s ease;
}

/* Content */
main {
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in;
}

section {
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5vh 4vw;
}

/* Home */
#hero {
    background: var(--gradient-vd);
}

#hero .container {
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.5vh;
}

.name {
    height: fit-content;
    width: 100%;
    letter-spacing: 0.75vw;
    text-align: center;
}

.hero-l {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.hero-r {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.hero-r button {
    width: 100%;
}

/* Profile */
#profile {
    background-color: var(--color-1);
}

#profile .container {
    justify-content: space-between;
}

.prof-l {
    width: 100%;
    height: 40%;
}

.prof-r {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prof-l img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
}

.bout {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    gap: 1vh;
}

.cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Projects */
.projects {
    height: 400vh;
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0px;
    height: 100vh;
}

.scroll_section {
    position: absolute;
    top: 0;
    height: 80%;
    width: 400vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vh 5vw;
}

.title {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.title h1 {
    font-size: 5.5vh;
    letter-spacing: 2.5vw;
    text-shadow: 2px 2px 5px black;
}

.project {
    width: 80vw;
    height: 80vh;
    margin: 0 10vw;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: var(--gradient-cd);
    box-shadow: var(--box-shadow-3);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.project:hover {
    background-color: var(--color-a);
    color: var(--color-3);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background-image: none;
    transform: scale(1.05);
}

.project img {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.project:hover img {
    transform: scale(0.9) translateY(10px);
    transition: all 0.3s ease-in-out;
}

.project_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2vh;
}

.project-top {
    width: 100%;
}

.project_content h5 {
    letter-spacing: 0.5vw;
}

.project_content h6 {
    margin-top: 0.5vh;
    letter-spacing: normal;
}

.project-links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.project-links a {
    font-size: var(--h5-size);
}

.project-links a:hover {
    color: var(--color-1);
}

/* Video Modal */
.video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-image: var(--gradient-cd);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
}

.video-modal.show {
    display: flex;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.modal-content {
    position: relative;
    background: var(--color-6);
    padding: 10px;
    border-radius: 10px;
    aspect-ratio: 16/9;
    width: 80%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.video-container {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* Services */
#services {
    background-color: var(--color-1);
}

#services .container {
    align-items: center;
    justify-content: center;
}

.serv-l {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

.serv-l h2 {
    letter-spacing: 2vh;
}

.serv-r {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.serv-card {
    width: 100%;
    height: fit-content;
    text-align: justify;
}
/* Footer */
footer{
    height: 100vh;
    background-color: var(--color-1);
}

footer .container{
    justify-content: space-between;
}

.cnt-l, .cnt-r{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cnt-l img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
}

.cnt-r .socials{
    width: 100%;
}

.sitemap{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5vh;
}

.sitemap a{
    font-size: var(--h5-size);
}

@media(min-width: 810px) {
    :root {
        --h1-size: 5vh;
        --h2-size: 4.5vh;
        --h3-size: 4vh;
        --h4-size: 3.5vh;
        --h5-size: 3vh;
        --h6-size: 2.5vh;
        --p-size: 2vh;
        --a-size: 1.5vh;
    }

    button {
        padding: 1vh 6vw;
    }

    hr {
        margin: 2vh 0vw;
    }

    .container {
        flex-direction: row;
        padding: 5vh 5vw;
    }

    /* Hero */
    #hero .container {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .name {
        letter-spacing: 0.75vw;
        text-align: left;
    }

    .name p {
        letter-spacing: 0.5vw;
    }

    .hero-l {
        width: fit-content;
        height: 100%;
    }

    .hero-r {
        width: 30%;
    }

    /* Prof */
    .prof-l {
        width: 35%;
        height: 40%;
    }

    .prof-r {
        width: 60%;
        height: 40%;
    }

    .cta {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Project */
    .project {
        width: 60vw;
        margin: 0 20vw;
    }

    /* Services */
    .serv-l {
        align-items: flex-start;
        width: 30%;
        height: 50%;
    }

    #services .container {
        align-items: center;
        justify-content: space-between;
    }

    .serv-r {
        width: 65%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .serv-card {
        width: 45%;
        height: 40%;
    }

    .serv-card:nth-child(1) {
        align-self: flex-start;
    }

    .serv-card:nth-child(2) {
        align-self: flex-start;
    }

    .serv-card:nth-child(3) {
        align-self: flex-end;
    }

    .serv-card:nth-child(4) {
        align-self: flex-end;
    }
    /* Footer */
    .cnt-l, .cnt-r{
        width: 45%;
        height: 80%;
    }
}

@media (min-width: 1024px) {
    :root {
        --h1-size: 5.5vh;
        --h2-size: 5vh;
        --h3-size: 4.5vh;
        --h4-size: 4vh;
        --h5-size: 3.5vh;
        --h6-size: 3vh;
        --p-size: 2.5vh;
        --a-size: 2vh;
    }

    /* Profile */
    .prof-l img {
        aspect-ratio: 3/4;
        width: auto;
        height: 100%;
    }

    /* Project */
    .project {
        width: 40vw;
        margin: 0 30vw;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}