.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.error-title {
    font-size: 5rem;
    margin: 0;
}

.error-message {
    font-size: 1.5rem;
    margin-top: 10px;
}

.error-link {
    margin-top: 20px;
    color: var(--color-secondary);
    text-decoration: underline;
    font-size: 1.2rem;
}