.projects {
    height: 400vh;
    padding: 0;
    background-color: transparent;
}

.sticky {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}

.scroll_section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    will-change: transform;
    transition: transform 0.3s ease-out;
}