.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: transparent;
    transition: opacity 0.5s ease, pointer-events 0.5s ease;
}

.hero .container {
    display: flex;

}

.hero_title {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-1);
    height: 100%;
    width: fit-content;
}

.hero_title h1 {
    max-width: 15ch;
}

.hero_title h5 {
    color: var(--gray-200);
}

.hero_sides {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: var(--max-width);
    gap: var(--gap-1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.vertical_link {
    color: var(--gray-200);
    writing-mode: vertical-lr;
    white-space: nowrap;
    max-height: 100%;
    max-width: 100%;
    text-align: left;
}

@media(min-width:768px) {
    .hero_title h1 {
        max-width: 20ch;
    }
}