*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration-color: var(--accent-50);
}

body {
    font-family: var(--font-primary), sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    height: -webkit-fill-available;
    background-color: var(--gray-50);
    color: var(--gray-800);
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    height: -webkit-fill-available;
    scrollbar-width: none;
}

html.menu-open {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: var(--accent-300);
    color: var(--gray-950);
}

::-moz-selection {
    background: var(--accent-300);
    color: var(--gray-950);
}

/* === Fonts === */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--gray-950);
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 0.9;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5,
p {
    font-size: var(--font-size-body);
}

a,
h6,
label,
li,
figcaption,
small {
    font-size: var(--font-size-small);
}

/* === CTA ===*/
a {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

a:active {
    color: var(--accent-600);
    cursor: pointer;
}

button {
    cursor: pointer
}

.icn_btn {
    --btn-border: var(--gray-100);
    --btn-text: var(--gray-100);
    --btn-bg: transparent;
    --btn-border-hover: var(--accent-500);
    --btn-text-hover: var(--gray-950);
    --btn-bg-hover: var(--accent-500);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 300px;
    border: none;
    background: transparent;
    margin-right: var(--space-xxs);
}

.txt_bx,
.icn_bx {
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: 1px solid var(--btn-border);
    color: var(--btn-text);
    background-color: var(--btn-bg);
    font-size: var(--font-size-small);
    font-family: var(--font-primary), sans-serif;
    font-style: normal;
    transition: all 0.25s ease-in-out;
}

.txt_bx {
    font-weight: 400;
    width: 100%;
    padding: var(--space-xxs) var(--space-md);
}

.icn_bx {
    font-weight: 100;
    aspect-ratio: 1/1;
    width: 2.25rem;
    margin-left: var(--space-xxs);
}

.icn_btn.light {
    --btn-border: var(--gray-50);
    --btn-text: var(--gray-50);
}

.icn_btn.dark {
    --btn-border: var(--gray-950);
    --btn-text: var(--gray-950);
}


.icn_btn:active .icn_bx,
.icn_btn:active .txt_bx {
    border-color: var(--btn-border-hover);
    background-color: var(--btn-bg-hover);
    color: var(--btn-text-hover);
}

.icn_btn:active .icn_bx {
    transform: translateX(5px) rotate(45deg);
}

/* === Elements === */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    mix-blend-mode: difference;
    background: hsl(from var(--gray-50) h s l / 0.5);
    border: none;
    width: 100%;
    height: 2px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

li {
    list-style-type: none;
    list-style-position: inside;
}

/* === Content Row === */
.backgroundCanvas {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

main {
    position: relative;
}

section {
    position: relative;
    background: transparent;
    min-height: 100svh;
    width: 100%;
    z-index: 1;
}

@supports (-webkit-text-stroke: 1px var(--gray-100)) {
    #outline_text {
        font-family: var(--font-code), monospace;
        font-size: var(--font-size-h1);
        font-weight: 700;
        color: currentColor;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: hsl(from var(--gray-100) h s l / 0.5);
    }
}

@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--accent-600);
        cursor: pointer;
    }

    button:hover {
        cursor: pointer
    }

    .icn_btn:hover {
        cursor: pointer;
    }

    .icn_btn:hover .icn_bx,
    .icn_btn:hover .txt_bx {
        border-color: var(--btn-border-hover);
        background-color: var(--btn-bg-hover);
        color: var(--btn-text-hover);
    }

    .icn_btn:hover .icn_bx {
        transform: translateX(5px) rotate(45deg);
    }
}

@media(min-width: 960px){
    .txt_bx,
    .icn_bx {
        height: 2.625rem;
    }

    .icn_bx {
        height: 2.625rem;
        width: 2.625rem;
    }
}

@media(min-width: 1440px){
    .txt_bx,
    .icn_bx {
        height: 2.875rem;
    }

    .icn_bx {
        height: 2.875rem;
        width: 2.875rem;
    }
}