*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration-color: var(--ember-50);
}

body {
    font-family: var(--font-primary), sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    height: -webkit-fill-available;
    background-color: var(--gray-950);
    color: var(--gray-200);
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    height: -webkit-fill-available;
    scrollbar-width: none;
}

html.menu-open {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: var(--ember-300);
    color: var(--gray-950);
}

::-moz-selection {
    background: var(--ember-300);
    color: var(--gray-950);
}

/* === Fonts === */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 0.9;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5,
p {
    font-size: var(--font-size-body);
}

a,
h6,
label,
li,
figcaption,
small {
    font-size: var(--font-size-small);
}

/* === CTA ===*/
a {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

a:active {
    color: var(--gray-50);
    cursor: pointer;
}

button {
    cursor: pointer
}

.icn_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: fit-content;
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-right: var(--space-xxs);
}

.txt_bx,
.icn_bx {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--gray-100);
    border-radius: 9999px;
    height: 2.25rem;
    color: var(--gray-100);
    background-color: transparent;
    font-size: var(--font-size-small);
    font-family: var(--font-primary), sans-serif;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}

.txt_bx {
    font-weight: 400;
    min-width: 7rem;
    padding: var(--space-xxs) var(--space-xs);
}

.icn_bx {
    font-weight: 100;
    aspect-ratio: 1/1;
    height: 2.25rem;
    width: 2.25rem;
    margin-left: var(--space-xxs);
}

.icn_btn:active .icn_bx,
.icn_btn:active .txt_bx {
    border: solid 1px var(--ember-300);
    background-color: var(--ember-300);
    color: var(--gray-950);
}

.icn_btn:active .icn_bx {
    transform: translateX(5px) rotate(-45deg);
}

/* === Elements === */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    mix-blend-mode: difference;
    background-color: hsl(from var(--gray-50) h s l / 0.5);
    border: none;
    width: 100%;
    height: 2px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

li {
    list-style-type: none;
    list-style-position: inside;
}

/* === Content Row === */
.backgroundCanvas {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

main {
    position: relative;
}

section {
    position: relative;
    background: transparent;
    min-height: 100svh;
    width: 100%;
    z-index: 1;
}

.container {
    flex: 1;
    max-width: var(--max-width-xxl);
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
}

.sticky_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    height: 100%;
}

.sticky_text {
    top: 50px;
    position: sticky;
    writing-mode: vertical-lr;
}

@supports (-webkit-text-stroke: 1px var(--gray-100)) {
    #outline_text {
        font-family: var(--font-primary), monospace;
        font-size: var(--font-size-h1);
        font-weight: 100;
        color: currentColor;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: hsl(from var(--gray-100) h s l / 0.5);
    }
}

@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--gray-50);
        cursor: pointer;
    }

    button:hover {
        cursor: pointer
    }

    .icn_btn:hover {
        cursor: pointer;
    }

    .icn_btn:hover .icn_bx,
    .icn_btn:hover .txt_bx {
        border: solid 1px var(--ember-300);
        background-color: var(--ember-300);
        color: var(--gray-950);
    }

    .icn_btn:hover .icn_bx {
        transform: translateX(5px) rotate(-45deg);
    }
}