*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration-color: var(--ember-50);
}

body {
    font-family: var(--font-primary), sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    height: -webkit-fill-available;
    background-color: var(--gray-950);
    color: var(--gray-300);
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    height: -webkit-fill-available;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: var(--ember-300);
    color: var(--gray-950);
}

::-moz-selection {
    background: var(--ember-300);
    color: var(--gray-950);
}

/* === Fonts === */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5,
p,
li,
label {
    font-size: var(--font-size-body);
}


a,
h6,
figcaption,
small {
    font-size: var(--font-size-small);
}

/* === CTA ===*/
a {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

a:active {
    color: var(--ember-500);
    cursor: pointer;
}

button {
    cursor: pointer
}

.anchor_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: fit-content;
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.txt_bx,
.icn_bx {

    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--gray-50);
    border-radius: 9999px;
    height: fit-content;
    min-height: 40px;
    mix-blend-mode: difference;
    color: var(--gray-50);
    background-color: transparent;
    font-size: var(--font-size-small);
    font-family: var(--font-primary), sans-serif;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}

.txt_bx {

    font-weight: 400;
    min-width: 60px;
    padding: var(--space-xs) var(--space-lg);
}

.icn_bx {
    font-weight: 100;
    min-height: 40px;
    aspect-ratio: 1/1;
    padding: var(--space-xs);
    margin-left: var(--space-xxs);
}

.anchor_btn:active {
    cursor: pointer;
}

.anchor_btn:active .icn_bx {
    transform: translateX(5px);
}

.anchor_btn:active {
    border: solid 1px var(--gray-50);
    background-color: var(--gray-50);
    color: var(--gray-950);
}

/* === Elements === */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    mix-blend-mode: difference;
    background-color: var(--gray-300);
    border: none;
    width: 100%;
    height: 1px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    list-style-position: inside;
    padding: clamp(0.1rem, 0.1rem + 0.25vw, 0.25rem);
}

/* === Content Row === */
main {
    position: relative;
}

section {
    position: relative;
    background: transparent;
    min-height: 100dvh;
    width: 100%;
    z-index: 1;
}

@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--ember-500);
        cursor: pointer;
    }

    button:hover {
        cursor: pointer
    }

    .anchor_btn:hover {
        cursor: pointer;
    }

    .anchor_btn:hover .icn_bx {
        transform: translateX(5px);
    }

    .anchor_btn:hover .icn_bx,
    .anchor_btn:hover .txt_bx {
        border: solid 1px var(--gray-50);
        background-color: var(--gray-50);
        color: var(--gray-950);
    }
}