*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration-color: var(--ember-50);
}

body {
    font-family: var(--font-primary), sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    height: -webkit-fill-available;
    background-color: var(--gray-950);
    color: var(--gray-200);
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    height: -webkit-fill-available;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: var(--ember-300);
    color: var(--gray-950);
}

::-moz-selection {
    background: var(--ember-300);
    color: var(--gray-950);
}

/* === Fonts === */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.1;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5,
p {
    font-size: var(--font-size-body);
}

a,
h6,
label,
li,
figcaption,
small {
    font-size: var(--font-size-small);
}

/* === CTA ===*/
a {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

a:active {
    color: var(--gray-50);
    cursor: pointer;
}

button {
    cursor: pointer
}


/* === Elements === */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr {
    mix-blend-mode: difference;
    background-color: hsl(from var(--gray-50) h s l / 0.5);
    border: none;
    width: 100%;
    height: 1px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

li {
    list-style-type: none;
    list-style-position: inside;
}

/* === Content Row === */
.backgroundCanvas {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

main {
    position: relative;
}

section {
    position: relative;
    background: transparent;
    min-height: 100svh;
    width: 100%;
    z-index: 1;
}

@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--gray-50);
        cursor: pointer;
    }

    button:hover {
        cursor: pointer
    }
}