@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Questrial&display=swap');

:root {
  --gray-100: hsl(0, 0%, 94%);
  --gray-200: hsl(0, 0%, 86%);
  --gray-300: hsl(0, 0%, 16%);
  --gray-400: hsl(0, 0%, 4%);
  --pad-1: min(2%, 15px);
  --pad-2: min(4%, 30px);
  --pad-3: min(8%, 60px);
  --gap-1: clamp(0.5rem, 1vw, 2.5rem);
  --gap-2: clamp(1rem, 2vw, 5rem);
  --gap-3: clamp(1.5rem, 3vw, 7.5rem);
  --max-width: 1200px;
}

/* Basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-size: 100%;
  font-family: 'JetBrains Mono';
  font-weight: 300;
  background: var(--gray-400);
  color: var(--gray-200);
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: --webkit-fill-available;
}

html {
  font-size: 100%;
  scrollbar-width: none;
  height: --webkit-fill-available;
}

::-webkit-scrollbar {
  width: none;
  background-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Questrial", sans-serif;
  font-weight: 800;
  font-style: normal;
  line-height: 0.9;
  color: var(--gray-100);
}

h1 {
  font-size: clamp(2.5rem, 5vw, 7.5rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 5rem);
}

h3 {
  font-size: clamp(1.75rem, 3vw, 3rem);
}

h4 {
  font-size: clamp(1.5rem, 2.5vw, 2.25rem);
}

h5 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
}

h6,
p,
a {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

small {
  font-size: clamp(0.5rem, 1vw, 0.75rem);
}

ul,
ol {
  list-style-type: none;
  gap: var(--gap-2);
  margin: 0;
  padding: 0;
}


li {
  padding: 5px 0px;
  list-style: none;
}

/* === CTA ===*/
a {
  text-decoration: none;
  color: inherit;
  user-select: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  filter: brightness(1.5);
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

/* === Content Row === */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  background-color: var(--gray-400);
}

section {
  position: relative;
  height: 100svh;
  width: 100%;
  padding: var(--pad-2);
}

/* === Elements === */
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  background: var(--gray-200);
  filter: saturate(0);
}

img:hover {
  filter: saturate(100%);
}

hr {
  border: none;
  border-top: 1px;
  margin: clamp(1rem*2, 4vw, 1rem*3) auto;
  width: 100%;
  height: 2px;
}

.text_accent {
  color: var(--gray-200);
  mix-blend-mode: difference;
  font-family: 'JetBrains Mono';
}

.backgroundCanvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

@media (min-width:768px) {
  section {
    height: 100vh;
  }
}