@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Questrial&display=swap');

:root {
    /* === Typography === */
    --font-primary: "Questrial", sans-serif;
    --font-code: "JetBrains Mono", monospace;
    /*  Font Size  */
    --font-size-h1: clamp(2.25rem, 2.875rem + 1vw, 3.5rem);
    --font-size-h2: clamp(1.875rem, 2.125rem + 0.5vw, 2.625rem);
    --font-size-h3: clamp(1.5rem, 1.75rem + 0.4vw, 2.25rem);
    --font-size-h4: clamp(1.25rem, 1.5rem + 0.35vw, 2rem);
    --font-size-h5: clamp(1rem, 1.125rem + 0.3vw, 1.5rem);
    --font-size-body: clamp(0.875rem, 1rem + 0.25vw, 1.25rem);
    --font-size-small: clamp(0.5rem, 0.625rem + 0.2vw, 0.875rem);
    /* === Colors === */
    /* Gray */
    --gray-50: hsl(11, 5%, 95%);
    --gray-100: hsl(11, 5%, 90%);
    --gray-200: hsl(11, 5%, 80%);
    --gray-300: hsl(11, 5%, 70%);
    --gray-400: hsl(11, 5%, 60%);
    --gray-500: hsl(11, 5%, 50%);
    --gray-600: hsl(11, 5%, 40%);
    --gray-700: hsl(11, 5%, 30%);
    --gray-800: hsl(11, 5%, 20%);
    --gray-900: hsl(11, 5%, 10%);
    --gray-950: hsl(11, 5%, 5%);
    /* Accent */
    --accent-50: hsl(180, 100%, 95%);
    --accent-100: hsl(180, 100%, 90%);
    --accent-200: hsl(180, 100%, 80%);
    --accent-300: hsl(180, 100%, 70%);
    --accent-400: hsl(180, 100%, 60%);
    --accent-500: hsl(180, 100%, 50%);
    --accent-600: hsl(180, 100%, 40%);
    --accent-700: hsl(180, 100%, 30%);
    --accent-800: hsl(180, 100%, 20%);
    --accent-900: hsl(180, 100%, 10%);
    --accent-950: hsl(180, 100%, 5%);
    /* === Spacing === */
    --space-xxs: clamp(0.25rem, 0.25rem + 0.2vw, 0.5rem);
    --space-xs: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
    --space-sm: clamp(0.75rem, 0.75rem + 0.8vw, 1.25rem);
    --space-md: clamp(1rem, 1rem + 1vw, 2rem);
    --space-lg: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
    --space-xl: clamp(2rem, 2rem + 2vw, 4rem);
    --space-xxl: clamp(3rem, 3rem + 3vw, 6rem);
    /* Max Width */
    --max-width-xxs: 360px;
    --max-width-xs: 576px;
    --max-width-sm: 768px;
    --max-width-md: 960px;
    --max-width-lg: 1200px;
    --max-width-xl: 1440px;
    --max-width-xxl: 1920px;
}

@media (min-width:1080px) {
    :root {
        --font-size-h1: clamp(4.5rem, 8rem + 1.25vw, 8.75rem);
        --font-size-h2: clamp(3.25rem, 5.75rem + 1vw, 6.75rem);
        --font-size-h3: clamp(2.5rem, 4.5rem + 0.85vw, 5.5rem);
        --font-size-h4: clamp(2rem, 3.25rem + 0.75vw, 4.5rem);
        --font-size-h5: clamp(1.5rem, 2.25rem + 0.6vw, 3.25rem);
        --font-size-body: clamp(1rem, 1.25rem + 0.4vw, 1.75rem);
        --font-size-small: clamp(0.5625rem, 0.75rem + 0.3vw, 1rem);
    }
}

@media (min-width:1440px) {
    :root {
        --font-size-h1: clamp(6.75rem, 8.875rem + 1.5vw, 12rem);
        --font-size-h2: clamp(4.5rem, 6.75rem + 1.25vw, 9rem);
        --font-size-h3: clamp(3.25rem, 5rem + 1vw, 6.75rem);
        --font-size-h4: clamp(2.25rem, 3.75rem + 0.85vw, 5.5rem);
        --font-size-h5: clamp(1.5rem, 2.75rem + 0.7vw, 4rem);
        --font-size-body: clamp(1rem, 1.375rem + 0.45vw, 2rem);
        --font-size-small: clamp(0.75rem, 0.875rem + 0.25vw, 1.25rem);
    }
}