@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Questrial&display=swap');

:root {
    /* === Typography === */
    --font-primary: "Questrial", sans-serif;
    --font-code: "JetBrains Mono", monospace;
    /*  Font Size  */
    --font-size-h1: clamp(2.250rem, 2.875rem + 1vw, 3.5rem);
    --font-size-h2: 2.125rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.125rem;
    --font-size-body: 1rem;
    --font-size-small: 0.625rem;
    /* === Colors === */
    /* Gray */
    --gray-50: hsl(11, 5%, 98%);
    --gray-100: hsl(11, 5%, 90%);
    --gray-200: hsl(11, 5%, 80%);
    --gray-300: hsl(11, 5%, 70%);
    --gray-400: hsl(11, 5%, 60%);
    --gray-500: hsl(11, 5%, 50%);
    --gray-600: hsl(11, 5%, 40%);
    --gray-700: hsl(11, 5%, 30%);
    --gray-800: hsl(11, 5%, 20%);
    --gray-900: hsl(11, 5%, 10%);
    --gray-950: hsl(11, 5%, 2%);
    /* Ember */
    --ember-50: hsl(12, 100%, 95%);
    --ember-100: hsl(11, 100%, 90%);
    --ember-200: hsl(11, 100%, 80%);
    --ember-300: hsl(11, 100%, 70%);
    --ember-400: hsl(11, 100%, 60%);
    --ember-500: hsl(11, 100%, 50%);
    --ember-600: hsl(11, 100%, 40%);
    --ember-700: hsl(11, 100%, 30%);
    --ember-800: hsl(11, 100%, 20%);
    --ember-900: hsl(11, 100%, 10%);
    --ember-950: hsl(11, 100%, 5%);
    /* === Spacing === */
    --space-xxs: clamp(0.25rem, 0.25rem + 0.2vw, 0.5rem);
    --space-xs: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
    --space-sm: clamp(0.75rem, 0.75rem + 0.8vw, 1.25rem);
    --space-md: clamp(1rem, 1rem + 1vw, 2rem);
    --space-lg: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
    --space-xl: clamp(2rem, 2rem + 2vw, 4rem);
    --space-xxl: clamp(3rem, 3rem + 3vw, 6rem);
    /* Max Width */
    --max-width-xxs: 360px;
    --max-width-xs: 576px;
    --max-width-sm: 768px;
    --max-width-md: 960px;
    --max-width-lg: 1200px;
    --max-width-xl: 1440px;
    --max-width-xxl: 1920px;
}

@media (min-width:960px) {
    :root {
        --font-size-h1: 8rem;
        --font-size-h2: 4.5rem;
        --font-size-h3: 3.5rem;
        --font-size-h4: 2.25rem;
        --font-size-h5: 1.375rem;
        --font-size-body: 1rem;
        --font-size-small: 0.875rem;
    }
}

@media (min-width:1440px) {
    :root {
        --font-size-h1: clamp(6.75rem, 8.875rem + 1.5vw, 12rem);
        --font-size-h2: clamp(5rem, 7rem, 9rem);
        /* --font-size-h3: clamp(5rem, 7rem, 9rem); */
        /* --font-size-h4: clamp(3rem, 4rem, 9rem); */
        /* --font-size-h5: clamp(2rem, 3rem, 9rem); */
        /* --font-size-body: clamp(1rem, 1.5rem, 9rem); */
        /* --font-size-small: clamp(0.5625rem, 1rem, 9rem); */
    }
}