@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Questrial&display=swap');

:root {
    /* === Typography === */
    --font-primary: "Questrial", sans-serif;
    --font-code: "JetBrains Mono", monospace;
    /*  Font Size  */
    --font-size-h1: clamp(1.125rem, 4.5rem + 1vw, 9rem);
    --font-size-h2: clamp(1rem, 3.5rem + 1vw, 6rem);
    --font-size-h3: clamp(0.875rem, 2.75rem + 1vw, 4.5rem);
    --font-size-h4: clamp(0.75rem, 2rem + 1vw, 3rem);
    --font-size-h5: clamp(0.625rem, 1.5rem + 1vw, 2rem);
    --font-size-body: clamp(0.75rem, 1rem + 1vw, 1.125rem);
    --font-size-small: clamp(0.5rem, 0.625rem + 1vw, 0.75rem);
    /* === Colors === */
    /* Gray */
    --gray-50: hsl(11, 5%, 98%);
    --gray-100: hsl(11, 5%, 90%);
    --gray-200: hsl(11, 5%, 80%);
    --gray-300: hsl(11, 5%, 70%);
    --gray-400: hsl(11, 5%, 60%);
    --gray-500: hsl(11, 5%, 50%);
    --gray-600: hsl(11, 5%, 40%);
    --gray-700: hsl(11, 5%, 30%);
    --gray-800: hsl(11, 5%, 20%);
    --gray-900: hsl(11, 5%, 10%);
    --gray-950: hsl(11, 5%, 2%);
    /* Ember */
    --ember-50: hsl(7, 100%, 95%);
    --ember-100: hsl(6, 100%, 90%);
    --ember-200: hsl(6, 90%, 80%);
    --ember-300: hsl(5, 90%, 70%);
    --ember-400: hsl(5, 80%, 60%);
    --ember-500: hsl(4, 80%, 50%);
    --ember-600: hsl(4, 70%, 40%);
    --ember-700: hsl(3, 70%, 30%);
    --ember-800: hsl(3, 80%, 20%);
    --ember-900: hsl(2, 90%, 10%);
    --ember-950: hsl(2, 100%, 5%);
    /* === Spacing === */
    --space-xxs: clamp(0.25rem, 0.25rem + 0.2vw, 0.5rem);
    --space-xs: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
    --space-sm: clamp(0.75rem, 0.75rem + 0.8vw, 1.25rem);
    --space-md: clamp(1rem, 1rem + 1vw, 2rem);
    --space-lg: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
    --space-xl: clamp(2rem, 2rem + 2vw, 4rem);
    --space-xxl: clamp(3rem, 3rem + 3vw, 6rem);
    /* Max Width */
    --max-width-xxs: 360px;
    --max-width-xs: 576px;
    --max-width-sm: 768px;
    --max-width-md: 960px;
    --max-width-lg: 1200px;
    --max-width-xl: 1440px;
    --max-width-xxl: 1920px;
}