@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* === Typography === */
    --font-primary: "Raleway", sans-serif;
    --font-accent: "Raleway Dots", sans-serif;
    --font-code: "JetBrains Mono", monospace;
    /*  Font Size  */
    --font-size-h1: clamp(1.382rem, 1.1rem + 2.5vw, 5.652rem);
    --font-size-h2: clamp(1.295rem, 1.05rem + 2vw, 3.997rem);
    --font-size-h3: clamp(1.214rem, 1rem + 1.6vw, 2.827rem);
    --font-size-h4: clamp(1.138rem, 0.95rem + 1.2vw, 1.999rem);
    --font-size-body: clamp(1.067rem, 1rem + 0.6vw, 1.414rem);
    --font-size-small: clamp(0.618rem, 0.6rem + 0.3vw, 0.937rem);
    /* === Colors === */
    /* Gray */
    --gray-50: hsl(11, 5%, 98%);
    --gray-100: hsl(11, 5%, 90%);
    --gray-200: hsl(11, 5%, 80%);
    --gray-300: hsl(11, 5%, 70%);
    --gray-400: hsl(11, 5%, 60%);
    --gray-500: hsl(11, 5%, 50%);
    --gray-600: hsl(11, 5%, 40%);
    --gray-700: hsl(11, 5%, 30%);
    --gray-800: hsl(11, 5%, 20%);
    --gray-900: hsl(11, 5%, 10%);
    --gray-950: hsl(11, 5%, 2%);
    /* Ember */
    --ember-50: hsl(7, 100%, 95%);
    --ember-100: hsl(6, 90%, 90%);
    --ember-200: hsl(6, 80%, 80%);
    --ember-300: hsl(5, 70%, 70%);
    --ember-400: hsl(5, 60%, 60%);
    --ember-500: hsl(4, 50%, 50%);
    --ember-600: hsl(4, 60%, 40%);
    --ember-700: hsl(3, 70%, 30%);
    --ember-800: hsl(3, 80%, 20%);
    --ember-900: hsl(2, 90%, 10%);
    --ember-950: hsl(2, 100%, 5%);
    /* === Spacing === */
    --space-xxs: clamp(0.25rem, 0.25rem + 0.2vw, 0.5rem);
    --space-xs: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
    --space-sm: clamp(0.75rem, 0.75rem + 0.8vw, 1.25rem);
    --space-md: clamp(1rem, 1rem + 1vw, 2rem);
    --space-lg: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
    --space-xl: clamp(2rem, 2rem + 2vw, 4rem);
    --space-xxl: clamp(3rem, 3rem + 3vw, 6rem);
    /* Max Width */
    --max-width-xxs: 360px;
    --max-width-xs: 576px;
    --max-width-sm: 768px;
    --max-width-md: 960px;
    --max-width-lg: 1200px;
    --max-width-xl: 1440px;
    --max-width-xxl: 1920px;
}