.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left,
.right {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--pad-2);
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    gap: var(--gap-2);
    max-width: var(--max-width);
}

.left {
    height: 70vh;
    justify-content: flex-end;
    align-items: flex-end;
    background: var(--gray-100);
}

.left .split {
    justify-content: flex-end;
}

.right {
    height: 30vh;
    align-items: flex-start;
    justify-content: flex-start;
}

.right .split {
    align-items: center;
    justify-content: center;
}

@media (min-width:900px) {
    .about {
        flex-direction: row;
    }

    .left,
    .right {
        width: 50vw;
        height: 100vh;
        padding: var(--pad-3);
    }

    .right .split {
        align-items: center;
        justify-content: center;
    }
}