.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
}

.contact a:hover {
    color: var(--gray-800);
    transform: translateX(0.25rem);
}

.left,
.right {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--pad-3);
}

.split {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: var(--max-width);
}

.left {
    align-items: flex-end;
}

.left .split {
    align-items: center;
    justify-content: center;
}

.right {
    background: var(--gray-100);
    justify-content: flex-start;
}

.right .split {
    justify-content: space-between;
}

.email {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.email_text {
    user-select: all;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.footer a {
    font-size: clamp(0.5rem, 1vw, 1.5rem);
}

@media (min-width:900px) {
    .contact {
        flex-direction: row;
    }

    .left,
    .right {
        width: 50vw;
        height: 100vh;
    }

    .split {
        gap: var(--gap-3);
    }
}