.preloader {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: var(--gray-900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.25s ease;
    pointer-events: none;
}

.preloader h2 {
    color: var(--gray-200);
    opacity: 0;
    transform: translateY(225px);
    will-change: transform, opacity;
}