footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    height: fit-content;
    width: 100%;
    background: var(--gray-200);
    color: var(--gray-800);
    padding: var(--gap-2);
    gap: var(--gap-2);
    align-items: center;
    z-index: 1;
}

footer hr {
    background-color: var(--gray-800);
}

footer h1,
footer h5 {
    color: var(--gray-900);
}

footer a {
    text-transform: uppercase;
}

footer a:hover {
    text-decoration: underline;
}

.f_head,
.f_content,
.f_foot {
    width: 100%;
    max-width: var(--max-width);
}

.f_head {
    height: fit-content;
}

.f_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-2);
}

.f_column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.f_column:nth-child(2) {
    flex-direction: row;
    justify-content: space-around;
}

.email_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    box-shadow: 0 0 10px var(--gray-900);
    background-color: var(--gray-900);
    padding: 8px;
}

.email_text {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(1rem, 2vw, 1.5rem);
    user-select: all;
    cursor: pointer;
    margin-right: 15px;
    transition: color 0.2s ease-in-out;
}

.email_text:hover {
    color: var(--ember-500);
    text-decoration: underline;
}

.email_copy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-100);
    color: var(--gray-800);
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 1.2em;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.email_copy:hover {
    background-color: var(--ember-500);
    color: var(--ember-300);
    text-decoration: none;
}

.f_lists {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    width: 20ch;
}

.f_foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    max-width: var(--max-width);
}

@media (min-width:768px) {
    .f_head h1 {
        letter-spacing: 1vw;
    }

    .f_content {
        display: flex;
        flex-direction: row;
        gap: var(--gap-3);
    }

    .f_column {
        flex: 2;
        min-width: 15ch;
        width: min-content;
        height: 100%;
    }

    .f_column:nth-child(2) {
        flex: 1;
        justify-content: space-between;
    }
}