footer {
    display: flex;
    bottom: 0;
    height: fit-content;
    width: 100%;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    background: var(--gray-200);
    color: var(--gray-800);
    padding: var(--pad-2);
    gap: var(--gap-2);
    align-items: center;
}

footer h1,
footer h5 {
    color: var(--gray-900);
    text-transform: uppercase;
}

.f_head,
.f_content,
.f_foot {
    width: 100%;
}

.f_head {
    width: 100%;
    padding-top: var(--pad-2);
}

.f_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-2);
}

.f_column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    width: 100%;
}

.f_content a {
    text-transform: uppercase;
}

.f_column a:hover {
    text-decoration: underline;
}

.f_foot {
    display: flex;
    justify-content: space-between;
    padding-top: var(--pad-2);
}


.f_social,
.f_sitemap {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.email_link {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
}

@media (min-width:900px) {
    footer {
        padding: var(--pad-2);
    }

    .f_head h1 {
        letter-spacing: 1vw;
    }

    .f_content {
        display: flex;
        flex-direction: row;
    }

    .f_column {
        min-width: 22ch;
        width: min-content;
        gap: var(--gap-1);
    }
}