/* ========= About ========= */
.about {
    background-color: var(--color-primary);
    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
}

.about .container {
    padding: var(--pad-1);
    justify-content: space-between;
    gap: var(--pad-1);
}

/* Top Section */
.about-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--gap-2);
    width: 100%;
}

.about-top h3 {
    font-weight: bolder;
    letter-spacing: var(--ls-1);
}

/* Bot Section */
.about-bot {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--pad-1);
}

.about .bento-container:nth-child(1) {
    align-items: center;
    text-align: center;
}

.radial-chart {
    max-height: 250px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    display: block;
}

.hex-lines {
    stroke: var(--color-secondary);
    stroke-width: 1;
    stroke-dasharray: 3 3;
    opacity: 0.7;
}

.hexagon {
    stroke: var(--color-secondary);
    fill: none;
    stroke-dasharray: 3 3;
    stroke-width: 1;
    filter: var(--ico-shadow);
}

.skill-data {
    fill: var(--blur-2);
    stroke: var(--color-accent);
    stroke-width: 1.5;
}

.skill-label {
    fill: var(--color-secondary);
    font-size: var(--p-size);
    text-anchor: middle;
}

/* == Responsive Settings == */
@media(min-width: 768px) {
    .about .container {
        padding: var(--pad-1) var(--pad-2);
    }

    .about-bot .bento-container {
        height: 100%;
    }
}

@media(min-width:900px) {
    .about .container {
        padding: var(--pad-1) var(--pad-4);
    }

    .about-bot {
        flex-direction: row;
    }
}

@media(min-width: 1280px) {
    .about .container {
        padding: var(--pad-1) var(--pad-4);
    }

    .radial-chart {
        max-height: 300px;
    }
}