/* ==== Default Styles ===== */
:root {
    --font-main: "JetBrains Mono", monospace;
    --h1-size: clamp(2rem, 7.5vw, 7rem);
    --h2-size: clamp(1.5rem, 5vw, 5rem);
    --h3-size: clamp(1rem, 2.5vw, 2.5rem);
    --h4-size: clamp(0.9rem, 1.5vw, 2.25rem);
    --h5-size: clamp(0.7rem, 1.25vw, 2rem);
    --h6-size: clamp(0.6rem, 1vw, 1.75rem);
    --p-size: clamp(0.5rem, 0.75vw, 1.5rem);
    --a-size: clamp(0.5rem, 0.75vw, 1.5rem);
    --gap-1: clamp(0.5rem, 1vw, 2.5rem);
    --gap-2: clamp(0.25rem, 0.5vw, 1.25rem);
    --pad-1: min(5%, 40px);
    --pad-2: min(10%, 80px);
    --pad-3: min(15%, 120px);
    --pad-4: min(20%, 160px);
    --ls-1: clamp(4px, 1vw, 8px);
    --ls-2: clamp(2px, 0.6vw, 4px);
    --ls-3: clamp(1px, 0.3vw, 2px);
    --color-primary: #ffa766;
    --color-secondary: #141414;
    --color-tertiary: #1e1e1e;
    --color-accent: #e1e1e1;
    --blur-1: rgba(255, 167, 102, 0.5);
    --blur-2: rgba(15, 15, 15, 0.5);
    --box-shadow: 0 2px 4px rgba(255, 145, 77, 0.2);
    --ico-shadow: drop-shadow(1px 1px 1px rgba(10, 10, 10, 0.5));
}

[data-theme="dark"] {
    /* --text: #f0f0f0;
    --background: #0f0f0f;
    --primary: #f78448;
    --secondary: #ff914d;
    --accent: #ffa766; */
    --color-primary: #0f0f0f;
    --color-secondary: #f78448;
    --color-tertiary: #ff914d;
    --color-accent: #e1e1e1;
    --blur-1: rgba(15, 15, 15, 0.5);
    --blur-2: rgba(255, 139, 82, 0.5);
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    --ico-shadow: drop-shadow(1px 1px 1px rgba(255, 145, 77, 0.5));
}

/* Basic reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

html,
body {
    width: 100%;
    height: 100dvh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: -webkit-fill-available;
    max-height: stretch;
    background: var(--color-primary);
    color: var(--color-tertiary);
    font-family: var(--font-main);
    font-style: normal;
    font-optical-sizing: auto;
    transition: all 0.75s ease-in-out;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* ========= Text ========== */
h1 {
    font-size: var(--h1-size);
    font-weight: 600;
    color: var(--color-secondary);
}

h2 {
    font-size: var(--h2-size);
    font-weight: 600;
    color: var(--color-secondary);
}

h3 {
    font-size: var(--h3-size);
    font-weight: 500;
    color: var(--color-secondary);
}

h4 {
    font-size: var(--h4-size);
    font-weight: 400;
}

h5 {
    font-size: var(--h5-size);
    font-weight: 300;
}

h6 {
    font-size: var(--h6-size);
    font-weight: 200;
}

p {
    font-size: var(--p-size);
    font-weight: 100;
}

ul {
    list-style: none;
}

li {
    font-size: var(--a-size);
    margin: auto;
}

/* ========== CTA ========== */
:focus {
    outline: none;
    box-shadow: none;
}

:active {
    transform: none;
    box-shadow: none;
}

a {
    position: relative;
    font-size: var(--a-size);
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--color-accent);
}

a.button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: min(1vh, 2%) min(3vw, 4%);
    width: 100%;
    height: min(150px, 48%);
    font-size: var(--p-size);
    letter-spacing: var(--ls-3);
    /* border-radius: 10px; */
    border: 5px solid var(--color-secondary);
    color: var(--color-secondary);
    transition: all 0.3s ease-in-out;
}

a.line-button {
    background-color: transparent;
}

a.fill-button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

a.button:hover {
    border: 5px solid var(--color-accent);
    background-color: var(--color-accent);
    color: var(--color-primary);
}

a:not(.button):not(.project-links a):not(.socials a)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

a:not(.button):not(.project-links a):not(.socials a):hover::after {
    transform: scaleX(1);
}

/* Icons config*/
.socials {
    display: flex;
    height: fit-content;
    line-height: 0.5;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(0.75rem, 3vw, 1rem);
}

.socials a,
.socials a {
    text-decoration: none;
    font-size: var(--h6-size);
    color: inherit;
    transition: color .4s ease;
}

.socials a:hover,
.socials a:hover {
    text-decoration: none;
    color: var(--color-accent);
    transform: scale(1.1);
}

/* == Animated Background == */
#waveCanvas {
    display: block;
    background: inherit;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100svh;
    z-index: 0;
    pointer-events: none;
}

/* ======= Graphics ======== */
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    background: var(--color-tertiary);
}

hr {
    border: none;
    height: 3px;
    background-color: var(--color-secondary);
    box-shadow: var(--box-shadow);
    width: 100%;
}

.radial-chart {
    max-height: 350px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    display: block;
}

.hex-lines {
    stroke: var(--color-tertiary);
    stroke-width: 1;
    stroke-dasharray: 3 3;
    opacity: 0.7;
}

.hexagon {
    stroke: var(--color-tertiary);
    fill: none;
    stroke-dasharray: 3 3;
    stroke-width: 1;
    filter: var(--ico-shadow);
}

.skill-data {
    fill: var(--blur-2);
    stroke: var(--color-secondary);
    stroke-width: 1.5;
}

.skill-label {
    fill: var(--color-tertiary);
    font-size: var(--p-size);
    text-anchor: middle;
}

/* ====== Content Row ====== */
main {
    width: 100%;
    height: 100%;
    /* height: calc(var(--vh, 1vh) * 100); */
}

section {
    height: 100vh;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(100% - min(10%, 80px));
    height: 100%;
    margin-left: min(10%, 80px);
    padding: 0 var(--pad-1);
    max-width: 2560px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.bento-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border: 1px solid var(--color-secondary);
    padding: min(2.5%, 20px);
}

.bento-container a {
    width: fit-content;
}

.bento-container ul {
    margin-top: min(2em, 2%);
}

.time-item {
    flex: 1;
    max-height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.time-item hr {
    margin-bottom: 1vh;
}

.time-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time-date {
    width: 15%;
    height: fit-content;
}

.time-info {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.time-info a {
    font-size: var(--h6-size);
}

.topics {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.topic {
    border: 1px solid var(--color-tertiary);
    color: var(--color-tertiary);
    font-size: var(--p-size);
    padding: min(0.25em, 1%) min(0.5em, 2%);
    /* border-radius: 5px; */
    margin: 0 auto;
}

/* Change Lenguage*/
.text-transition {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/* == Responsive Settings == */

@supports (-webkit-touch-callout: none) {
    body {
        height: -webkit-fill-available;
    }
}

@media(min-width: 768px) {
    .container {
        padding: 0 var(--pad-2);
        margin-left: 0;
    }

    .home,
    .about,
    .education,
    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left,
    .right {
        height: 100%;
        width: 50%;
    }
}

@media(min-width: 900px) {
    a.button {
        height: fit-content;
        width: min(450px, 45%);
    }

    .container {
        padding: 0 var(--pad-3);
    }
}

@media (min-width: 1280px) {
    a.button {
        width: min(450px, 45%);
    }

    .radial-chart {
        max-height: 300px;
    }

    .container {
        width: 100%;
        padding: 0 var(--pad-4);
    }
}

/* ==== AnimatedEffects ==== */
@keyframes typing {
    from {
        width: 0;

    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}